body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1, h2, p {
  text-align: center;
}
.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
.sr-only {
  display: none;
}
